
body {
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-size: auto;
}

a {
    text-decoration: none;
    color: black;

}

p + p, li + li {
    margin-top: 11.5px;                           /*space between paragraphs*/
}
li {
    font-size: 14px;
    margin-left: 20px;
 }

.ul-prop {
    margin-left: 10px;
    padding: 20px;
    width: 100%;
}
.blanket{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.wrapper {
    background-image: url("../img/dots.png");
    display: flex;
    /*border: 10px solid  goldenrod;*/          /*Removed border, used for Testing*/
    border-radius: 20px;
    
    min-height: 60vh;
    height: 40%;
    justify-content:space-around;
    max-width: 80%;
    margin: 25px auto;                        /*Added margin to auto, so it can center*/
    flex-wrap: wrap;
    box-shadow: -3px 3px 40px 5px #7b986d;                            /*Parts for Responsive Image*/
}

.page {
    width: 100%;
    min-width: 0;
    height: 98%/*Parts for Responsive Image*/
    /*margin: 5px;*/                                /*Parts for Responsive Image - But removed for the time being*/
}

#correction {
    width: 100%;
}



.tele_header {
    display: flex;
    flex-direction: column;
    width: 5%;
    top: 30%;
    right: 4.7%;
    position: fixed;
    
}

.top_line {
    position: absolute;
    top: 6%;
    width: 30%;
}

.faq {
    margin-left: 10%;
    font-family: "Neucha";
    color: #4c4c94;
    font-size: 2vw;
    display: inline;
}
  
  
   
                              /*small extra padding so it has some space from the sides*/}

.w-icon {
    display: inline-block;
}
img.w-icon:hover, img.w-icon:active {height: 60px;}

.fa-icon {
}
img.fa-icon:hover, img.fa-icon:active {height: 60px;}
.inst-you{

}
img.inst-you:hover, img.inst-you:active {height: 60px;}

/*Responsive Image with Flexbox.*/
.img_header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 200vh;*/                               /*Removed while the temporary fix is there*/
    max-width: 90%; 
    max-height: 450px;
    justify-content: space-around;
    width: 100%;                                    /*Could be a fix to a responsive image*/
    height: auto;                                   /*Could be a fix to a responsive image*/
}

#main-nav {
    display: flex;
    /*border: 5px solid  mediumslateblue ;*/         /*Removed border, used for Testing*/
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px 18px;

}


.nav_button {
    color:black;
    font-size: 2vw;
    font-family: "Neucha";
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    padding: 10px;
    text-decoration: none;
    border-radius: 15px 15px 0px 0px;
    width: 12%;
}

.box1 { background:#f7d750;}
.box2 { background:#98ef71;}
.box3 { background:#9bb6f5;}
.box4 { background:#9b6a9f;}
.box5 { background:#f4769b;}
.box6 { background:#f9af50;}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    border-radius: 20px;
    /*width: 97%;*/
    height: 45%;
    background-color: #f8fdd3;
}
#back-colour {
    background-color: #f1ffef;
}

#background-colour2{
    background-color: #fff2fe;
}

#background-colour3{
    background-color: #e5f2fd;
}

#background-colour4 {
    background-color: #f4e8ff;
}
.border-style1 {
    border: 8px solid #f7d850 ;
    border-radius: 20px;
}

.border-style2 {
    border: 8px solid #98ef71; 
    border-radius: 20px;
}

.border-style3 {
    border: 8px solid #9bb6f5 ;
    border-radius: 20px;
}
.border-style4 {
    border: 8px solid #9b6a9f ;
    border-radius: 20px;
}
.border-style5 {
    border: 8px solid #f4769b ;
    border-radius: 20px;
}

.border-style6 {
    border: 8px solid #f9af50;
    border-radius: 20px;
}
/*.main_list {
    border: 5px solid chartreuse;
    padding:10px;
    /*margin: 5px;
    flex: 2;
}*/

/* Main section=================*/


.main_content {
    position: relative;
    padding: 5px 10px;
    /*margin: 5px;
    margin-left: 50px;*/
    

}

#link-area{
    height: 300px;
    width:100%;
    font-family: "Ubuntu";
    margin-top: 20px;
    margin-left: 20px;
}

.content_image {
    margin-top: 5%;
    margin-left: 2.5%;
    display: inline-block;
    max-width: 46%; 
    max-height: auto;
    width: 100%;                                    /*Could be a fix to a responsive image*/
    height: auto;
 

}
.left_col{
    width: 47%;
    padding-left: 1.6%;
    display: inline-block;
    font-family: "Ubuntu";
}

#space {
    margin-top: 28px;
}
.contact-header {
    margin-top: 20px;
    
}

.right_col{
    width: 47%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2%;
    margin-top: 30px;
}
.content_text {
    display: inline-block;
    padding: 25px;
    font-family: "Ubuntu";
    text-align: justify;
}

.link-style {
    margin-top: 30px;
    font-size: 1.5em;
    color: #5c1a74;
}

.strong{
    font-weight: 1000;
}

.line-space {
    line-height: 17px;
    margin-left: 20px;
}

.contact-header {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: none;
}
.greeting {
    font-size: 1.2em;
    font-weight: bold;
}
.line{
    width: 80%;
    height: 47px;
    border-bottom: 1px solid darkslategrey;
    margin-left: 10%;
    }
.email {
    font-weight: bold;
    margin-top: 20px;
}
.gallery {
    width: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    display: inline-block;
    padding-left:1.5%;
}

.gallery img {
    width: 30%;
    padding: 1%;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
   border-radius: 0 10px 10px 0;
 }

.footer {
    text-align: right;
    font-size: 2vh;
    padding-top: 2%;
    padding-right: 2.5%;
}
/*For mobile version===================*/


@media (max-width: 600px) {
    .img_header {
        margin-top: 5%;
    }
    #main-nav {
    display: flex;
    /*border: 5px solid  mediumslateblue ;*/         /*Removed border, used for Testing*/
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3px 18px;
    
}
    
.top_line {
    position: absolute;
    top:5%;
    width: 30%;
}

.faq {
    margin-left: 10%;
    font-family: "Neucha";
    color: #4c4c94;
    font-size: 4vw;
    display: block;
    margin-top: 3%;
}
.nav_button {
    color:black;
    font-size: 4vw;
    font-family: "Neucha";
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    padding: 10px;
    text-decoration: none;
    border-radius: 15px 15px 15px 15px;
    width: 25%;
}

.box1 { background:#f7d750;}
.box2 { background:#98ef71;}
.box3 { background:#9bb6f5;}
.box4 { background:#9b6a9f;}
.box5 { background:#f4769b;}
.box6 { background:#f9af50;}

.tele_header {
    width: 6%;
    top: 15%;
    right: 0.8em;
    position: fixed;
}

.i-size {
    height: 30px;
}

.w-icon {
    display: inline-block;
}
img.w-icon:hover, img.w-icon:active {height: 40px;}

.fa-icon {
}
img.fa-icon:hover, img.fa-icon:active {height: 40px;}
.inst-you{

}
img.inst-you:hover, img.inst-you:active {height: 40px;}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: white;
    border: 8px solid ;
    border-radius: 20px;
    height:85%;
    background-color: #f8fdd3;
}
    .border-style1 {
        border-color: #f7d750;
    }
    .border-style2 {
        border-color:#98ef71;
    }
    
    .border-style5 {
        border-color:#f4769b;
    }
    
    .border-style3 {
        border-color: #9bb6f5;
    }
    
    .border-style4 {
        border-color: #9b6a9f;
    }
    .border-style6{
        border-color: #f9af50;
    }

.content_text {
    display: block;
    padding: 10px 10px 10px 8px;
    font-family: "Ubuntu";
    text-align: justify;
    margin-left: -1%;
    font-size: 0.8em;
    width: 100%;
    height: 48%
}
    #text-position{
        margin-left: 0;
        width: 90%;
    }
    .right_col{
    margin-top: 0px;
    width: 100%;
}
.content_image {
    margin-top: 6%;
    margin-left: 1%;
    display: block;
    max-width: 100%; 
    max-height: auto;                                    /*Could be a fix to a responsive image*/
    height: auto;
}

.line{
    width: 80%;
    height: 27px;
    border-bottom: 1px solid darkslategrey;
    margin-left: 10%;
    }
.left_col{
    padding: 1.6%;
    width: 100%;
    display: inline-block;
}
   .contact-header {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: none;
}

    .gallery {
    width: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    display: inline-block;
    padding-left:2%;
}

.gallery img {
    width: 45%;
    padding: 1%;
}

    
.email {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.map-position {
    display: flex;
    margin-top: 265px;
    margin-left: -97%;
}
    #map {
   width: 100%;
   height: 400px;
   background-color: grey;
   border-radius: 0 0 10px 10px;
 }
    
 .footer {
    text-align: right;
    font-size: 2vh;
    padding-top: 3%;
  
}

   
 
